/* SHARED */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hotBar {
    display: flex;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-color: black;
    padding: 5px;
    background-color: darkturquoise;
}

#hotBar a{
    margin: auto 10px auto 10px;
    width: min-content;
    height: min-content;
    padding: 0%;
}

#hotBar *{
    margin: 10px;
}


#sideBar {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-color: black;
    height: auto;
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    right: 0;
    background-color: rgb(219, 219, 219);
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 5%;
    margin-right: 10%;
    padding: 1% 2%;
}

#sideBar #user{
    display: flex;
}



#sideBar #user img{
    color: black;
    margin: auto 5% auto 2%;
    border-radius: 50%;
}

#sideBar #user #username{
    padding: 2% 5% 2% 10%;
}

#sideBar #user p{
    margin: 1px;
    text-align: center;

    font-weight: bold;
}

#sideBar ul{
    font-weight: bold;
}

#sideBar a{
    display: flex;
}

a {
    color: black;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

/* HOME / INDEX */

#feed .post {
    margin: 50px 10% 0px 10%;
}

#feed a{
    margin: auto 0 auto 2%;
}

#feed #bottom a{
    margin: auto 0 auto 0%;
}

#feed .post #top {
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    color: black;
    display: flex;
    width: 60%;
    height: 100px;
    background-color: rgb(230, 230, 230);
}

#feed .post #top img{

    color: black;
    margin: auto 0 auto 2%;
    border-radius: 60%;
}

#feed .post #top h1{
    margin: auto 0 auto 2%;
    font-size: 200%;
}

#feed .post #imageLink{
    margin: 0px;
    padding: 0px;
}

#feed .post #image{
    border: solid black;
    width: 60%;
    height: auto;
}

#feed .post #bottom {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    color: black;
    width: 56%;
    height: auto;
    background-color: rgb(230, 230, 230);
    padding: 2%;
}

#feed .post #bottom :nth-child(1) {
    display: inline;
    font-weight: bold;
}

#feed .post #bottom :nth-child(2) {
    display: inline;
}

#feed .post #bottom :nth-child(3) {
    margin: 1% 0% 0% 0%;
    font-weight: lighter;
}

/* PET PROFILE */

#profile {
    margin: 50px 10% 0px 10%;
}

#profile > * {
    width: 60%;
    height: auto;
}

#profile #top {

    position: relative;
    display: grid;
    grid-template-columns: 35% auto auto;
    grid-template-rows: 35% 15% 50%;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    color: black;
    background-color: rgb(230, 230, 230);
    margin-bottom: 3%;
}

#profile #top #fav{

    position: absolute;
    top: 5%;
    right: 3%;
    cursor: pointer;
}

#profile #top #edit{

    position: absolute;
    top: 4%;
    right: 12%;
    cursor: pointer;
}

#profile #top #postpic{

    position: absolute;
    top: 5%;
    right: 22%;
    cursor: pointer;
}


#profile #top #petpic{

    margin: 10% auto 5% auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#profile #top #name{

    margin: 5% 0 2% 0;
    font-size: 200%;

    grid-column: 2 / 4;
    grid-row: 1 / 2;
 }

 #profile #top #followers{

     margin: 5% 0 auto 0;

     grid-column: 2 / 3;
     grid-row: 2 / 3;
  }

  #profile #top #following{

     margin: 5% 0 auto 0;

     grid-column: 3 / 4;
     grid-row: 2 / 3;
  }

 #profile #top #bio{

     margin: 7% 5% auto 5%;

     grid-column: 1 / 4;
     grid-row: 3 / 4;
 }


#profile #listing {
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;

    margin-bottom: 3%;

    background-color: rgba(255, 255, 0, 0.61);
}

#profile #listing #warning{
    text-align: center;

    width: auto;
    margin: 2%;
}

#profile #gallery{
    display: flex;
    flex-direction: column;
}

#profile #gallery .row{

    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30%;
    grid-column-gap: 5%;
    margin-bottom: 5%;

}

#profile #gallery .row *{

    width: 100%;
    height: auto;
}

/* ADD PET */

#addPet {
    margin: 50px 10% 0px 10%;
    text-align: center;
}

#addPet #auxDiv {
    width: 60%;
    height: auto;

    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;

    background-color: tomato;
}

#addPet #auxDiv #addPetForm #input{
    margin-top: 5%;
    margin-bottom: 5%;
}

#addPet #auxDiv #selectedImage{
    width: 60%;
    height: auto;

}

#addPet #newFields {
    margin-top: 3%;
    margin-bottom: 3%;
}

#addPet #newFields *{
    margin-bottom: 1%;
}


/* ADD SHELTER */

#addShelter {
    margin: 50px 10% 0px 10%;
    text-align: center;
}

#addShelter #auxDiv {
    width: 60%;
    height: auto;

    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;

    background-color: tomato;
}

#addShelterForm label {
    font-size: 80%;
}

/* POST */

#post .post {
    margin: 50px 10% 10px 10%;

}

#post a{
    margin: auto 0 auto 2%;
}

#post #description a{
    margin: auto 0 auto 0;
}

#post .post #title {

    position: relative;
    border: solid black;
    font-size: 150%;
    font-weight: bold;
    display: flex;
    width: 60%;
    height: 100px;
    background-color: rgb(230, 230, 230);
}

#post .post #title #pet_profile_pic{

    color: black;
    margin: auto 0 auto 2%;
    border-radius: 60%;
}

#post .post #title p{
    margin: auto 0 auto 2%;
    font-size: 150%;
    width: 100%;
}

#post .post #title #edit{
    position: absolute;
    top: 30%;
    right: 4%;
}


#post .post > img{
    border: solid black;
    width: 60%;
    height: auto;
}

#post .post #description {
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    width: 58%;
    height: auto;
    background-color: rgb(230, 230, 230);
    padding: 1%;
}

#post .post #description :nth-child(1) {
    display: inline;
    font-weight: bold;
}

#post .post #description :nth-child(2) {
    display: inline;
}

#post .post #description :nth-child(3) {
    display: inline;
    margin: 1% 0% 0% 30%;
    size:110%;
}

#post .post #description :nth-child(4) {
    display: inline;
    margin: 0% 0% 0% 2%;
}

#post .post #description :nth-child(5) {
    display: inline;
    margin: 0% 0% 0% 8%;
}

#post .post #description :nth-child(6) {
    display: inline;
    margin: 0% 0% 0% 2%;
}

#post .post #description :nth-child(7) {
    margin: 1% 0% 0% 0%;
    font-weight: lighter;
}

#comments {
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    width: 56%;
    height: auto;
    background-color: rgb(250, 250, 250);
    padding: 2%;
}

#comments .comment{
    display: flex;
}

#comments .comment img{
    color: black;
    margin: 1% 3% 0% 0%;
    border-radius: 50%;
}

#comments .comment #username{
    padding: 1% 3% 0% 1%;
    font-weight: bold;
}

#comments .comment #text{
    padding: 1% 0% 0% 0%;
    text-align: center;
}

#comments #postComment{

    text-align: center;
    margin-top: 3%;
}

#comments #postComment #commentText{

    width: 80%;
}

/* LISTING */


#profile #listing{
    padding: 2% 0px 0px 0px;
}

#profile #listing > p{
    text-align: center;
}

#profile #listing > ul{
    text-align: center;
    list-style-position: inside;
    padding-right: 10%;
}

#profile #listing #comments {
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    width: 80%;
    height: auto;
    background-color: rgb(250, 250, 250);
    padding: 2%;
    margin: 5% auto 5% auto;
}

#profile #listing #comments .comment{
    display: flex;
}

#profile #listing #comments .comment img{
    color: black;
    margin: 1% 3% 0% 0%;
    border-radius: 50%;
}

#profile #listing #comments .comment #username{
    padding: 1% 3% 0% 1%;
    font-weight: bold;
}

#profile #listing #comments .comment #text{
    padding: 1% 0% 0% 0%;
}

#profile #listing #comments #postComment{
    text-align: center;
    margin-top: 3%;
}

#profile #listing #comments #postComment #commentText{

    width: 80%;
}



#profile #listing #inquiry{

    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    width: 84%;
    height: auto;
    background-color: rgba(79, 255, 35, 0.747);

    margin: 5% auto 5% auto;
}

#profile #listing #proposal{

    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    width: 84%;
    height: auto;
    background-color: rgba(255, 152, 35, 0.747);

    margin: 5% auto 5% auto;
}

/* INQUIRY */

#inquiry {
    margin: 50px 10% 0px 10%;
}

#inquiry > *{
    width: 50%;
}

#inquiry #top{
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
}

#inquiry #top h1{
    margin-left: 5%;
}

#inquiry #chat{
    margin-top: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    background-color: lavender;
}

#inquiry .message_owner {

    display: flex;
    margin: 2%
}

#inquiry .message_user {

    display: flex;
    margin: 2%
}

#inquiry .message_owner #messageBox{
    background-color: white;
    width: fit-content;
    min-width: 8%;
    max-width: 60%;
    padding: 0% 1% 0% 1%;
    height: fit-content;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-radius: 25px;
    margin: auto 0% auto 0%;
    word-wrap: break-word;

}

#inquiry .message_owner img{
    color: black;
    margin: 1% 3% 0% 0%;
    border-radius: 50%;

}

#inquiry .message_user img{
    color: black;
    margin: 1.5% 3% 0% 0%;
    border-radius: 50%;

}



#inquiry .message_user #messageBox{
    background-color: white;
    width: fit-content;
    min-width: 8%;
    max-width: 60%;
    padding: 0% 1% 0% 1%;
    height: fit-content;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-radius: 25px;
    margin: 2% 2% 2% auto;
    word-wrap: break-word;
}

#inquiry p{
    text-align: center;
}


#inquiry #sendMessage #messageText {

    height: 60%;
    width: 80%;
    margin:2% 3% 2% 3%;
}


/* PROPOSAL */

#proposal {
    margin: 50px 10% 0px 10%;
    text-align: center;
}

#proposal h2{
    color: rgba(255, 255, 255, 0.904);
    text-shadow: 2px 2px #0000006b;
}

#proposal #div1 {
    width: 60%;
    height: auto;
    border-style: solid;
    background-color: rgb(64, 106, 153);
}

#proposal #div1 #textid{
    width:70%;
}


/* User Settings */

#settings {
    display: grid;
    grid-template-columns: auto auto;
    width: 60%;
}


#settings #main {

    margin: 50px 3% 0px 17%;
    background-color: tomato;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
}

#settings #main > *{
    margin: 2%;
}

#settings #main #header {
    display: grid;
    grid-template-columns: auto 35px;
}

#settings #main #form form #btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 18px;
  margin: 0% 0;
  border: none;
  cursor: pointer;
}

/* SEARCH_PAGE */

#search {
    margin: 50px 10% 10px 10%;
}
#search > *{
    width: 60%;
}  

#search #header{
    text-align: center;
    border-color: black;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    background-color: rgb(150, 26, 150);
    color: rgba(255, 255, 255, 0.904);
    text-shadow: 2px 2px #0000006b;
}

#search #searchBar {
    
    position: relative;
}


#search #searchBar #input {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    transition: width 0.4s ease-in-out;
}

#search #searchBar #input:focus {
    width: 100%;
    border: 3px solid #555;
}

#search #searchBar img {
    position: absolute;
    top: 25%;
    left: 0.5%;
}

#search #searchResults .petResult {
    border-right-style: solid;
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style: solid; 
    color: black;
    display: flex;
    
    height: 100px;
    background-color: rgb(230, 230, 230);
}

#search #searchResults .petResult img{

    color: black;
    margin: auto 0 auto 2%;
    border-radius: 60%;
}

#search #searchResults .petResult h1{
    margin: auto 0 auto 2%;
    font-size: 200%;
}

#search #noResults {

    text-align: center;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    width: 50%;
    margin: auto;
    padding: 1%;

    background-color: #f44336;

}

/* EDIT PROFILE*/

#edit_post .post {
    margin: 50px 10% 10px 10%;

}

#edit_post a{
    margin: auto 0 auto 2%;
}

#edit_post #description a{
    margin: auto 0 auto 0;
}

#edit_post .post #title {

    position: relative;
    border: solid black;
    font-size: 150%;
    font-weight: bold;
    display: flex;
    width: 60%;
    height: 100px;
    background-color: rgb(230, 230, 230);
}

#edit_post .post #title #pet_profile_pic{

    color: black;
    margin: auto 0 auto 2%;
    border-radius: 60%;
}

#edit_post .post #title p{
    margin: auto 0 auto 2%;
    font-size: 150%;
    width: 100%;
}

#edit_post .post #title #edit{
    position: absolute;
    top: 30%;
    right: 4%;
}

#edit_post .post > img{
    border: solid black;
    width: 60%;
    height: auto;
}

#edit_post .post #description {
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    width: 58%;
    height: auto;
    background-color: rgb(230, 230, 230);
    padding: 1%;
}

#edit_post .post #description :nth-child(1) {
    display: inline;
    font-weight: bold;
}

#edit_post .post #description #updateDescription{
    display: inline;

}

#edit_post .post #description #updateDescription #commentText{
    font-weight: normal;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
}

#edit_post .post #description :nth-child(3) {
    display: inline;
}

#edit_post .post #deleteButton {

    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 2%;
    margin-left: 23%;
}

/* EDIT PET PROFILE */

#edit_pet_profile {
    margin: 50px 10% 0px 10%;
}

#edit_pet_profile > * {
    width: 60%;
    height: auto;
}

#edit_pet_profile #top {

    position: relative;
    display: grid;
    grid-template-columns: 35% auto auto;
    grid-template-rows: 35% 15% 50%;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    color: black;
    background-color: rgb(230, 230, 230);
    margin-bottom: 3%;
}

#edit_pet_profile #top #petpic{

    margin: 10% auto 5% auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 1;
}

#edit_pet_profile #top #changepic{

    position: absolute;
    top: 5%;
    left: 20%;
    z-index: 2;
    border-radius: 50%;
    cursor: pointer;
}


#edit_pet_profile #top #nameText{

    margin: auto 0 2% 0;
    font-size: 200%;
    width: 80%;

    grid-column: 2 / 4;
    grid-row: 1 / 2;
 }

 #edit_pet_profile #top #followers{

     margin: 5% 0 auto 0;

     grid-column: 2 / 3;
     grid-row: 2 / 3;
  }

  #edit_pet_profile #top #following{

     margin: 5% 0 auto 0;

     grid-column: 3 / 4;
     grid-row: 2 / 3;
  }

 #edit_pet_profile #top #bioText{

     margin: 7% 5% auto 5%;

     grid-column: 1 / 4;
     grid-row: 3 / 4;
 }

#edit_pet_profile #listing {
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;

    margin-bottom: 1%;

    background-color: rgba(255, 255, 0, 0.61);
}

#edit_pet_profile #listing #warning{
    text-align: center;

    width: auto;
    margin: 2%;
}

#edit_pet_profile #removeListing {

    width: auto;
    padding: 10px 18px;
    background-color: #e46e00;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 0%;
    margin-left: 23%;
}

#edit_pet_profile #updateInfoForm {

    display: inline;
}

#edit_pet_profile #updateInfo {

    display: inline;
    width: auto;
    padding: 10px 18px;
    background-color:#4CAF50;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 5%;
    margin-left: 18%;
}

#edit_pet_profile #deletePet {

    display: inline;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 2%;
    margin-left: 2%;
}


/* OWNER INQUIRIES POV */

#inquiry_list {
    margin: 50px 10% 0px 10%;
}

#inquiry_list > *{
    width: 60%;
}

#inquiry_list #top{
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
}

#inquiry_list #top h1{
    margin-left: 5%;
}

#inquiry_list #list .conversation{
    width: 100%;
    display: flex;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    background-color: lavender;
}

#inquiry_list #list .conversation img{

    border-radius: 50%;
    margin: 2%;
}

#inquiry_list #list .conversation #username{
    margin: auto 1% auto 0%;
    font-weight: bold;
}

#inquiry_list #list .conversation #username::after{
    content: ": ";
}

#inquiry_list #list .conversation #lastMessage{
    margin: auto 1% auto 0%;
    white-space: nowrap;
    overflow: hidden;
}

/* OWNER PROPOSALS POV */

#proposal_list {
    margin: 50px 10% 0px 10%;
}

#proposal_list > *{
    width: 60%;
}

#proposal_list #top{
    color: rgba(255, 255, 255, 0.904);
    text-shadow: 2px 2px #0000006b;
    background-color:  rgb(64, 106, 153);
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: black;
}

#proposal_list #top h1{
    margin-left: 5%;
}

#proposal_list #list .proposal{
    width: 100%;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    background-color: lavender;
}

#proposal_list #list .proposal #content{
    display: flex;
}

#proposal_list #list .proposal img{

    border-radius: 50%;
    margin: 2%;
}

#proposal_list #list .proposal #username{
    margin: 3% 1% auto 0%;
    font-weight: bold;
}

#proposal_list #list .proposal #username::after{
    content: ": ";
}

#proposal_list #list .proposal #proposalMessage{
    margin: 3%;
}

#proposal_list .list .proposal #proposalDate {
    margin: 1% 0% 0% 0%;
    font-weight: lighter;
}

#proposal_list #list .proposal #confirmDeny{
    margin-left: 50%;
}

#proposal_list #list .proposal #confirmDeny *{
    cursor: pointer;
}

/* MAKE POST */

#add_post {
    margin: 50px 10% 0px 10%;
    text-align: center;
}

#add_post #auxDiv {
    width: 60%;
    height: auto;

    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;

    background-color: tomato;
}

#add_post #auxDiv > *{
    margin: 5%;
}

#add_post #auxDiv #descriptionDiv #description {
    width: 80%;
}

#add_post #auxDiv #selectedImage{
    width: 60%;
    height: auto;

}